<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.collagecall.dao.OrderDao" >
    <resultMap id="BaseResultMap" type="com.example.collagecall.entity.Orders" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
    </resultMap>

    <!--（通过用户openid和订单id查到订单）精确更改状态-->
    <update id="updatestate">
        update orders set states = #{states}
        where openid = #{openid} and  orderid = #{orderid}
    </update>


</mapper>